
<table datatable id="dtable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr *ngIf="expenses.length !== 0">
      <th>Fonte</th>
      <th>Valor Pago</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{ expense.sourcePaymentoName }}</td>
      <td>{{ expense.amountPaid | currency: 'BRL' : true}}</td>
    </tr>
  </tbody>
</table>

<p-chart type="bar" [data]="data" [options]="options" width="700" height="700"></p-chart>



