<section >
  <div>
    <b>Expense</b> | Login
  </div>
  <div >
    <p>Por favor, efetue o login para continuar</p>
    <form [formGroup]="loginForm">   
        <input type="text" formControlName="username" placeholder="Username">
        <span></span>
        <input type="password" formControlName="password" placeholder="Password">
        <span></span>
      <div>
        <div >
          <button type="submit" [disabled]="loginForm.invalid" (click)="login()" >Entrar</button>
        </div>        
      </div>
      <div>

        <p><font color="red">{{error}}</font></p>
</div>
    </form>
  </div>
</section>
